.survey {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--detail_background);
    border-radius: 20px;
    padding: 3rem 3rem;
    overflow: hidden;
    justify-content: flex-start;
    margin: 1rem;
    gap: 30px;
    border: 1px solid var(--palette_main);
}

.survey-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.survey-get-link-button button {
    margin: auto;
  align-items: center;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Anket ekleme butonunun alt boşluğu */
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--palette_main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--background_color);
  transition: 100ms background-color;
}

.survey-view-button button{
    margin: auto;
  align-items: center;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Anket ekleme butonunun alt boşluğu */
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--palette_main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--background_color);
  transition: 100ms background-color;
}

.survey-view-button button:hover{
    background-color: var(--palette_secondary);
}

.survey-get-link-button button:hover{
    background-color: var(--palette_secondary);
}

.survey-delete-button button{
    margin: auto;
    align-items: center;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Anket ekleme butonunun alt boşluğu */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f05454;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--background_color);
    transition: 100ms background-color;
}

.survey-delete-button button:hover{
    background-color: #953333;
}

.survey-comp-container{
    display: flex;
    flex-direction: column;
    color: var(--black_text_color);
    gap: 15px;
}