/* Eski CSS Kodları */
.survey-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.surveys {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Her satırda 3 nesne */
  gap: 20px; /* Nesneler arasındaki boşluk */
}


.add-new-survey-button {
  margin: auto;
  align-items: center;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Anket ekleme butonunun alt boşluğu */
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--palette_main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--background_color);
  transition: 100ms background-color;
}


.add-new-survey-button:hover {
  background-color: var(--palette_secondary);
}

/* Yeni CSS Kodları (Mobil Uyumlu) */
@media screen and (max-width: 768px) {
  .surveys {
      grid-template-columns: repeat(1, 1fr); /* Mobil cihazlarda tek sütunlu */
  }
}
