/* Eski CSS Kodları */
.survey-container {
  margin: 20px;
}

.surveys {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Her satırda 3 nesne */
  gap: 20px; /* Nesneler arasındaki boşluk */
}

.surveys button,
.add-new-survey-button {
  margin-bottom: 10px; /* Anket ekleme butonunun alt boşluğu */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.surveys button:hover,
.add-new-survey-button:hover {
  background-color: #0056b3;
}

/* Yeni CSS Kodları (Mobil Uyumlu) */
@media screen and (max-width: 768px) {
  .surveys {
      grid-template-columns: repeat(1, 1fr); /* Mobil cihazlarda tek sütunlu */
  }
}
