.question-detail-cover {
    background-color: var(--detail_background);
    padding: 20px;
    border-radius: 15px;
   
    margin: 1.5rem 3rem;
  }
  
  .question-detail-name {
    margin-bottom: 10px;
  }
  
  .question-name h3 {
    color: #333;
    font-size: 1.2em;
  }
  
  .question-answer-count h3,
  .question-avg-rate h3 {
    color: #666;
    font-size: 1em;
  }
  
  .question-detail-buttons {
    margin-top: 20px;
    margin-left: auto;
  }
  
  .question-detail-buttons button {
    background-color: var(--palette_main);
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  
  .question-detail-buttons button:hover {
    background-color: var(--palette_secondary);
  }
  

  @media only screen and (max-width:768px){
    .question-detail-buttons{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }