
  
  /* Container */
  .point-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    background-color: var(--login_background) !important;
  }

  .point-container-logo{
    width: 100%;
  }

  .solve-card-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  /* Survey header */
  h1 {
    font-size: 32px;
    color: var(--background_color);
    
  }
  
  /* Card container */
  .point-card {
    margin-bottom: 20px; /* Add margin between cards */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text_black_color);
    width: 500px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid var(--palette_main);
    word-wrap: break-word;
  }
  
  /* Card body */
  .point-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 500px;
    height: 200px;
    background-color: var(--detail_background);
    border-radius: 5px;
    word-wrap: break-word;
  }
  
  /* Question text */
  .point-question-text {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--text_black_color);
    word-wrap: break-word;
    flex-wrap: wrap;
  }

  .point-question{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    
    word-wrap: break-word;
  }

  
  
  /* Options container */
  .point-options-container {
    display: flex;
    flex-direction: column;
  }
  
  /* Option */
  .point-option {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .point-option:hover {
    background-color: #dcd0ff; /* Hover color for options */
  }
  
  /* Option text */
  .point-option-text {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  
  /* Selected option */
  .point-option.selected {
    background-color: #595959; /* Selected color for options */
    color: #fff;
  }
  
  /* Submit button */
  .point-submit-button {
    display: block;
    margin: 20px auto; /* Center the submit button and add margin */
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--palette_main);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .point-submit-button:hover {
    background-color: var(--palette_secondary);
  }
  
  
  /* SurveyApp.css */
  .star {
    font-size: 35px; /* Increase the font size to make the stars bigger */
    color: #ccc; /* Default color of the stars */
    cursor: pointer; /* Show pointer cursor when hovering over the stars */
    margin: 0 5px; /* Add margin between stars */
  }

.star.selected {
  color: #f0c419; /* Change the color of selected stars */
}

.point-rating-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Add margin between question text and stars */
}

.point-container img {
  width: 400px; /* Adjust the width as needed */
  max-height: max-content;
  display: block;
  margin: 0 auto;
}

.point-survey-name {
  font-size: 32px;
  text-align: center;
  color: var(--background_color);
}


/* Mobil Uyumlu CSS */
@media screen and (max-width: 768px) {
  .point-container {
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  

  
  h1 {
    font-size: 20px; /* Başlık font boyutunu azalt */
    margin-bottom: 10px; /* Başlık ile diğer içerikler arasındaki boşluğu azalt */
  }
  
  .point-card {
    border-radius: 5px; /* Kartların köşe yuvarlaklığını azalt */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Daha hafif bir gölge */
    width: 300px;
  }
  
  .point-card-body {
    width: 300px;
    padding: 10px;
    word-wrap: break-word;
  }
  
  .point-question-text {
    font-size: 16px; /* Soru metni font boyutunu azalt */
    margin-bottom: 8px; /* Soru metni ile yıldızlar arasındaki boşluğu azalt */
    max-width: 270px;
  }
  
  .point-question{
    word-wrap: break-word;
  }

  .point-star {
    font-size: 24px; /* Yıldız boyutunu artır */
    margin: 0 3px; /* Yıldızlar arasındaki boşluğu azalt */
  }
  
  .point-container img {
    width: 200px; /* Logonun genişliğini azalt */
    margin-bottom: 10px; /* Logo ile diğer içerikler arasındaki boşluğu azalt */
  }
  
  .point-survey-name {
    font-size: 20px; /* Anket adı font boyutunu azalt */
    margin-bottom: 15px; /* Anket adı ile diğer içerikler arasındaki boşluğu azalt */
  }
  
  .point-submit-button {
    margin: 15px auto; /* Gönderme düğmesi ile diğer içerikler arasındaki boşluğu ayarla */
    padding: 8px 16px; /* Gönderme düğmesi dolgusunu ayarla */
    font-size: 14px; /* Gönderme düğmesi font boyutunu azalt */
  }
}


