@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--background_color);
    height: 100vh; /* Set height to 100% of viewport height */
  overflow-y: auto; /* Add scrollbar when content overflows */
}

body.point-container-body{
    background-color: var(--login_background);
}

:root{
    --background_color: #f4f3f2;
    --black_text_color: #212427;
    --palette_main: #49c2c7;
    --palette_secondary: #00aab6;
    --palette_tertiary: #e6feff;
    --palette_quaternary: #e6f4f1;
    --navbar_background: #324b4c;
    --login_background: #aaaabc;
    --button_color: #f05454;
    --button_hover: #953333;
    --detail_background: #e6f4f1;
}