/* deleteQuestionModel.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .delete-survey-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: var(--background_color);
    gap: 20px;
  }
  
  .delete-survey-button-cancel{
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--palette_main);
    transition: 100ms background-color;
    color: var(--background_color);
  }


  .delete-survey-button-cancel:hover{
    background-color: var(--palette_secondary);
  }


  .survey-button-submit {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--palette_main);
  }
  
  .delete-survey-button-cancel {
    margin: 0;
  }
  
  .survey-button-submit {
    background-color: #f44336;
    color: #fff;
    transition: 100ms background-color;
    margin: 0;
  }
  
  .survey-button-submit:hover {
    background-color: #d32f2f;
  }
  